<h1>Welcome to the language assessment!</h1>
<p>{{ greeting }}</p>
{# Vocab quiz results #}
{% if scores %}
	<p>
	<table border="1">
	<tr>
	<td>K Band</td>
	<td>Score</td>
	</tr>
	{% for score in scores %}
		<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ score }}%</td>
		</tr>
	{% endfor %}
	</table><br />
	Your overall vocabulary score was {{ overall_score }}%
	</p>
{% endif %}
<p>{{ content }}</p>
<p>
{% if link == "login" %}
	<a href = "{% url 'assessment:login' %}">Login page</a>
{% endif %}
{% if link == "vocab" %}
	<a href = "{% url 'assessment:vocab' %}">Take the vocab quiz</a>
{% endif %}
{% if link == "passage" %}
	<a href = "{% url 'assessment:passage' %}">Take the passage test</a>
{% endif %}
{% if link == "logout" %}
	<a href = "{% url 'assessment:logout' %}">Log out</a>
{% endif %}
{% if link != "login" and link != "logout" %}
<br />
<br />
Or, you may <a href = "{% url 'assessment:logout' %}">log out</a>.
{% endif %}
</p>
