<html>
<body>
<h1>Passage quiz</h1>
<p>{{ message }}</p><br /><br />
{% if questions %}
	<table border="1" cellpadding="10">
	<tr>
	<td width="50%">
	<p>{{ passage_text|safe }}</p>
	{# questions #}
	</td>
	<td valign="top">
	<form method="post" action="passage" id="answerform">
	{% csrf_token %}
	{% for question in questions %}
		<p>
		{% if question.type == "pick one" or question.type == "pick many" or question.type == "short response" or question.type == "long response" %}
			{{ question.prompt }}
		{% endif %}
		{% if question.type == "table" %}
			{# tables always have the same question #}
			Fill out this graphic organizer:
		{% endif %}
		</p>
		{# hint #}
		<p style="color:red">
		{% if question.hint %}
			{{ question.hint }}
		{% endif %}
		</p>
		{# user inputs #}
		<p>
		{% if question.type == "pick one" %}
			{% for answer_choice in question.answer_choices %}
				<p>
				{% if question.saved_response == forloop.counter0 %}
					<input type="radio" name="pickone{{ forloop.parentloop.counter0 }}" value="{{ forloop.counter0 }}" checked>{{ answer_choice }}
				{% else %}
					<input type="radio" name="pickone{{ forloop.parentloop.counter0 }}" value="{{ forloop.counter0 }}">{{ answer_choice }}
				{% endif %}
				</p>
			{% endfor %}
			<input type="hidden" name="question_id{{ forloop.counter0 }}" value="{{ question.id }}">
		{% endif %}
		{% if question.type == "pick many" %}
			{% for answer_choice in question.answer_choices %}
				<p>
				{% if forloop.counter0 in question.saved_response %}
					<input type="checkbox" name="pickmany{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}" value="{{ forloop.counter0 }}" checked>{{ answer_choice }}
				{% else %}
					<input type="checkbox" name="pickmany{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}" value="{{ forloop.counter0 }}">{{ answer_choice }}
				{% endif %}
				</p>
			{% endfor %}
			<input type="hidden" name="question_id{{ forloop.counter0 }}" value="{{ question.id }}">
		{% endif %}
		{% if question.type == "table" %}
			<table border="1">
			<tr>
			<td></td>
			{% for col in question.cols %}
				<td>{{ col }}</td>
			{% endfor %}
			</tr>
			{% for row in question.rows %}
				<tr>
				<td>{{ row }}</td>
				{% for col in question.cols %}
					<td>
					{% for answer_choice in question.answer_choices %}
						{# We need some kind of code here to get table saved responses #}
						<p><input type="radio" name="table{{ forloop.parentloop.parentloop.parentloop.counter0}}-{{ forloop.parentloop.parentloop.counter0}}-{{ forloop.parentloop.counter0}}" value="{{ forloop.counter0 }}">{{ answer_choice }}</p>
					{% endfor %}
					</td>
				{% endfor %}
				</tr>
			{% endfor %}
			</table>
			<input type="hidden" name="question_id{{ forloop.counter0 }}" value="{{ question.id }}">
		{% endif %}
		{% if question.type == "short response" %}
			<input type="hidden" name="question_id{{ forloop.counter0 }}{{ forloop.counter0 }}" value="{{ question.id }}">
			<textarea rows="6" cols="44" name="shortresponse{{ forloop.counter0 }}" form="answerform">{{ question.saved_response }}</textarea>
		{% endif %}
		{% if question.type = "long response" %}
			<input type="hidden" name="question_id{{ forloop.counter0 }}" value="{{ question.id }}">
			<textarea rows="6" cols="44" name="longresponse{{ forloop.counter0 }}" form="answerform">{{ question.saved_response }}</textarea>
		{% endif %}
		</p>
	{% endfor %}
	<input type="submit" name="submit" value="Submit and go on">
	<input type="submit" name="submit" value="Skip and come back">
	</form>
	</td>
	</tr>
	</table>
{% endif %}
</body>
</html>
