<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'assessment/passage.css' %}" />
<script src="{% static 'assessment/passage.js' %}">
</script>
</head>
<body>
<h1>Passage quiz</h1>
<p>{{ message }}</p><br /><br />
{% if questions %}
	<table>
	<tr>
	<td width="50%">
	<p>{{ passage_text|safe }}</p>
	</td>
	<td>
	{# if they left questions blank last time #}
	{% if left_blanks %}
		<p style="color:blue">You must answer every question before submitting an answer.  If you would like to save your answers so far and come back to this question later, click "Skip and come back."</p>
	{% endif %}
	{# questions #}
	<form method="post" action="passage" id="answerform">
	{% csrf_token %}
	<p><b>({{ question_set }})</b></p>
	{% for question in questions %}
		<p>
		{% if question.type == "pick one" or question.type == "pick many" or question.type == "short response" or question.type == "long response" %}
			{{ question.prompt|safe }}
		{% endif %}
		</p>
		{# hint #}
		<p style="color:red">
		{% if question.hint %}
			{{ question.hint }}
		{% endif %}
		</p>
		{# user inputs #}
		<p>
		{% if question.type == "pick one" %}
			{% for answer_choice in question.answer_choices %}
				<p>
				{% if question.saved_response == forloop.counter0 %}
					<input type="radio" name="pickone{{ forloop.parentloop.counter0 }}" value="{{ forloop.counter0 }}" checked>{{ answer_choice }}
				{% else %}
					<input type="radio" name="pickone{{ forloop.parentloop.counter0 }}" value="{{ forloop.counter0 }}">{{ answer_choice }}
				{% endif %}
				</p>
			{% endfor %}
		{% endif %}
		{% if question.type == "pick many" %}
			{% for answer_choice in question.answer_choices %}
				<p>
				{% if forloop.counter0 in question.saved_response %}
					<input type="checkbox" name="pickmany{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}" value="{{ forloop.counter0 }}" checked>{{ answer_choice }}
				{% else %}
					<input type="checkbox" name="pickmany{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}" value="{{ forloop.counter0 }}">{{ answer_choice }}
				{% endif %}
				</p>
			{% endfor %}
		{% endif %}
		{% if question.type == "short response" %}
			<textarea name="shortresponse{{ forloop.counter0 }}" form="answerform">{{ question.saved_response }}</textarea>
		{% endif %}
		{% if question.type = "long response" %}
			<textarea name="longresponse{{ forloop.counter0 }}" form="answerform">{{ question.saved_response }}</textarea>
		{% endif %}
		<input type="hidden" name="question_id{{ forloop.counter0 }}" value="{{ question.id }}">
		</p>
	{% endfor %}
	<input type="submit" name="submit" value="Submit and go on">
	<input type="submit" name="submit" value="Skip and come back">
	</form>
	</td>
	</tr>
	</table>
{% endif %}
</body>
</html>
