<html>
<head>
<title>Language Assessment</title>
<script>
function yn_press(e)
{
	if(e.keyCode == 89)
	{
		document.forms[0].is_word.value = "yes";
		document.forms[0].submit()
	}
	if(e.keyCode == 78)
	{
		document.forms[0].is_word.value = "no";
		document.forms[0].submit()
	}
}
</script>
</head>
<body onkeydown="yn_press(event)">
<h1>Vocab quiz</h1>
<p>You have completed {{ num_complete }} question(s).</p>
{% if finished %}
	<p>You are done with vocab.  Please <a href = "{% url 'assessment:index' %}">click here</a> to continue your assessment.</p><br />
{% else %}
	<p>Is "{{ word }}" a word?</p><br />
	<div onKeyPress="return yn_press(event)">
	<form method="post" action="vocab">
	{% csrf_token %}
	<p><input type="hidden" name="word" value="{{ word }}"></p>
       	<p><input type="radio" accesskey="y" name="is_word" value="yes" checked>Yes</p>
       	<p><input type="radio" accesskey="n" name="is_word" value="no">No</p>
       	</p>
	<p>(You may also type "n" to answer "No" or type "y" to answer "Yes.")</p>
       	<p class="submit"><input type="submit" name="commit" value="Submit"></p>
     	</form>
	</div>
{% endif %}
</body>
</html>
